@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Proza_Libre/ProzaLibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Proza_Libre/ProzaLibre-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}

.page {
  padding: 1%;
}
